---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
const schemamarkup = {

};
---
<MainLayout title="Historien om Carlsberg" description="">
	<title>Historien om Carlsberg</title>
	<section class="font-['Sora'] font-black text-neutral-800">
		<article class="mb-20 sm:mb-32">
			<div class="flex flex-col items-center">
				<video class="sm:w-3/4 mb-20" autoplay muted>
					<source src="grafik_mikro_content.mp4" type="video/mp4">
				</video>
				<h2 class="sm:text-xl md:text-2xl font-thin italic leading-loose text-center sm:w-3/4 md:w-1/2 mb-4 lg:mb-6">"Vores evne til at forfine bryggekunsten bør være et vedvarende mål, uafhængigt af øjeblikkelige gevinster."</h2>
				<h3 class="sm:text-xl md:text-2xl font-black italic text-emerald-900 leading-loose text-center w-1/2">- J.C. Jacobsen</h3>
			</div>
		</article>
		<article class="flex flex-col items-center mb-40">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">1847</h3>
			<div class="mb-10">
					<h4 class="border-2 border-emerald-900 leading-loose p-4">J.C. Jacobsen grundlægger Carlsberg uden for København.</h4>
			</div>
				<img class="sm:w-1/2" src="artem-shuba-rFq9-J95858-unsplash.jpg" alt="Den ikoniske Elephant Gate i Carlsberg Byen">
		</article>
		<article class="flex flex-col items-center mb-40">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">1868</h3>
			<div class="sm:grid grid-cols-2 gap-10 sm:w-3/4">
				<h4 class="leading-loose mb-10 sm:mb-0">Carlsbergs eksport begynder. En tønde øl sendes til Edinburgh, Skotland.</h4>
				<p class="font-['Open_Sans'] leading-relaxed border-2 border-emerald-900 p-4">I begyndelsen af det 19. århundrede begyndte Carlsberg at eksportere sin øl. En tønde blev sendt til Edinburgh, Skotland, hvilket markerede starten på bryggeriets internationale succes.<br><br>Den skotske modtagelse af den danske øl var varm, og det lagde grunden til Carlsbergs fremtidige globale ry og succes.</p>
			</div>
		</article>
		<article class="flex flex-col items-center mb-40">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">1904</h3>
			<div class="mb-10">
				<h4 class="leading-loose border-2 border-emerald-900 p-4">Carlsbergs velkendte logo introduceres.</h4>
			</div>
				<img class="sm:w-1/2" src="jeyakumaran-mayooresan-hxQ6jA1RV3s-unsplash.jpg" alt="Carlsbergs logo oplyst på himlen">
		</article>
		<article class="flex flex-col items-center mb-40">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">1913</h3>
			<div class="sm:grid grid-cols-2 gap-10 sm:w-3/4">
				<h4 class="leading-loose mb-10 sm:mb-0">Carl Jacobsen donerer Den Lille Havfrue til København.</h4>
				<p class="font-['Open_Sans'] leading-relaxed border-2 border-emerald-900 p-4">I begyndelsen af det 20. århundrede donerede Carl Jacobsen Den Lille Havfrue til København.<br><br>Skulpturen blev øjeblikkeligt et ikon for byen, der tiltrak turister fra hele verden og blev et symbol på Københavns kulturelle arv.</p>
			</div>
		</article>
		<article class="flex flex-col items-center mb-40">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">Fra 1968</h3>
			<div class="sm:grid grid-cols-2 gap-10 sm:w-3/4">
				<p class="font-['Open_Sans'] leading-relaxed border-2 border-emerald-900 p-4 mb-10 sm:mb-0">
					Carlsbergs åbning af bryggerier i Malawi, Malaysia og Storbritannien udvidede bryggeriets globale rækkevidde og styrkede dets internationale brand.<br><br>Disse nye faciliteter tillod Carlsberg at bringe deres kvalitetsøl til nye markeder, samtidig med at de skabte vækst og jobmuligheder lokalt.</p>
				<h4 class="leading-loose">Carlsberg åbner bryggerier i Malawi, Malaysia og Storbritannien.</h4>
			</div>
		</article>
		<article class="flex flex-col items-center mb-20">
			<h3 class="text-6xl text-emerald-900 leading-relaxed mb-10">2008</h3>
				<div class="sm:grid grid-cols-2 gap-10 sm:w-3/4">
					<h4 class="leading-loose mb-10 sm:mb-0">En stor udvidelse gør Carlsberg til det fjerdestørste bryggeri i verden.</h4>
					<p class="font-['Open_Sans'] leading-relaxed border-2 border-emerald-900 p-4">
						En stor udvidelse gjorde Carlsberg til det fjerdestørste bryggeri i verden, et øjeblik af bemærkelsesværdig vækst og anerkendelse.<br><br>Med denne milepæl cementerede Carlsberg sin position som en af de førende aktører i global ølbrygning, og det banede vejen for fortsat succes på verdensplan.</p>
				</div>
		</article>
	</section>
</MainLayout>
<style>
</style>
<script></script>